* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-align: center;
    padding: center;
    margin: 100px;
    font-size: 90px;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 50px;
    margin-left: 100px;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 40px;
    margin-left: 100px;
    margin-bottom: 15px;
}

p {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 20px;
    width: 770px;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.about {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 20px;
    width: 770px;
}

img {
    margin-left: 100px;
}

.nav {
    background-color: #1F2129;
    height: 75px;
}

.navigation {
    list-style-type: none;
    margin-left: 750px;
    padding: 0;
    overflow: hidden;
}

.navigation-items {
    font-family: Arial;
    font-size: 20px;
    margin-top: 10px;
    float: left;
}

.navigation-items a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-items a:hover {
    color: #ffffff;
}