* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

.container {
    background-color: #272934;
}

.centre {
    text-align: center;
}

.button-container {
    text-align: center;
}

.nav {
    background-color: #1F2129;
    height: 75px;
}

.navigation {
    list-style-type: none;
    margin-right: 1%;
    float: right;
    padding: 0;
    overflow: hidden;
}

.navigation-items {
    font-family: Arial;
    font-size: 20px;
    margin-top: 1%;
    float: left;
}

.navigation-items a {
    display: block;
    color: gray;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-items a:hover {
    color: #ffffff;
}

.header {
    font-family: Arial;
    font-size: 100px;
    margin-top: 10%;
    color: #ffffff;
}

.short-desc {
    font-size: 20px;
    font-family: Arial;
    color: #808080;
    margin-top: 20px;
}

.buttons a:after {
    content: '';
    position: absolute;
    background-color: #ff009d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.buttons a:hover:after {
    width: 100%;
}

.buttons {
    margin-top: 20px;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    border: None;
    padding: 20px 45px;
    cursor: pointer;
    border-radius: 10px;
}

.button1 {
    background-color: #ff009d;
    margin-left: 50px;
    margin-right: 15px;
}

.button1:hover {
    background-color: #FF69B4;
}

.button2 {
    background-color: #3D3F49;
}

.button2:hover {
    background-color: #52545D;
}

.fact {
    color: #ffffff;
    font-family: Arial;
    padding-top: 35px;
}

.left {
    margin-left: 7.5%;
}

.right {
    /* float: right; */
    margin-left: 60%;
}

.image {
    height: 350px;
    float: right;
    clear: right;
    /* margin-top: -5%; */
}

.image-2 {
    height: 350px;
    /* position: relative; */
    /* top: 375px; */
    /* left: 100px; */
}

/* .topic-content {
    width: fit-content;
    height: fit-content;
} */

/* 
.right-image {
    margin-left: 100px;
} */

.topic {
    /* width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: hidden; */
    float: left;
    clear: left;
}

.subheader {
    color: #ffffff;
    font-size: 35px;
    font-family: Arial;
    margin-bottom: 2.5%;
}

.left-margin {
    margin-left: 5%;
    clear: left;
}

.right-margin {
    clear: right;
    float: right;
    /* display: block;
    margin-left: auto; */
    margin-right: 5%;
}

.caption {
    float: left;
    line-height: 25px;
    color: #8A8B8F;
    font-size: 17px;
    font-family: Arial;
    width: 45%;
}

.caption-right {
    line-height: 25px;
    color: #8A8B8F;
    font-size: 17px;
    font-family: Arial;
    width: 37.5%;
}

.section-1 {
    height: 775px;
    overflow-y: none;
}

.section-2 {
    background-color: #1F2129;
    height: 100px;
    margin-bottom: 2%;
    overflow-y: none;
}

.section-3 {
    height: 1500px;
    overflow-y: none;
}

.footer {
    background-color: #1f2129;
    padding-top: 2%;
    padding-bottom: .5%;
}

.copyright {
    font-family: sans-serif;
    color: #808080;
    margin-left: 37.5%;
}

.headers {
    display: flex;
    gap: 10px;
}

.footer-header {
    white-space: nowrap;
    width: 400px;
    margin-left: 35%;
    font-size: 35px;
    font-family: sans-serif;
    color: #808080;
}

.footer-ul {
    margin-left: 35%;
    width: 275px;
    list-style-type: none;
}

.footer-a {
    font-family: arial;
    font-size: 25px;
    color: #808080;
    text-decoration: none;  
}